__pycache__/
*.pyc
*.pyo
.env
dataset/
processed/
checkpoints/
*.pt
*.pth
*.opus
*.mp3
*.wav
*.ogg
*.zip
*.rar
*.exe
*.msi
*.dll
*.lib
*.pdf
*.png
*.jpg
*.ini
!src/chartgen.ico
ACLib/
Interception/
dataset_test/
app_config.json
release/
src/build/
src/dist/
src/*.spec
